.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}


.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 150px;
  border-radius: 10px;
  color: var(--texto);
  cursor: pointer;
  transition: 400ms;
  padding: .5rem;

  background: var(--fondoVidrio); /* Usa tu variable para vidrio */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid var(--sombra50); /* Borde sutil que cambia según el tema */
  box-shadow: 0 4px 20px var(--sombra); /* Sombra adaptada */
}



.tip {
  font-size: 1em;
  font-weight: 700;
}

.secondText {
  font-size: 0.7em;
}

.card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(2px);
  transform: scale(0.9, 0.9);
}
