.contenedorHome {
    height: auto;
    background-color: var(--fondo); /* Más translúcido */
    backdrop-filter: blur(10px);                /* Más difuminado */
    -webkit-backdrop-filter: blur(10px);        /* Soporte Safari */
    border: 1px solid rgba(255, 255, 255, 0.2);  /* Borde blanco suave */
    border-radius: 1rem;                        /* Bordes redondeados */
    box-shadow: 0 4px 30px var(--sombra);   /* Sombra ligera */
    padding: .5rem;


    text-align: center;
}

.miTexto {
    margin: 1rem;
    text-align: justify;
    overflow-y: auto;
}

.miFoto {
  border-radius: 1rem;
}

@keyframes flotar {
  0%   { transform: translateY(0px); box-shadow: 0px 3px 10px var(--sombra0)}
  50%  { transform: translateY(-1px); box-shadow: 0px 6px 12px var(--sombra50)}
  100% { transform: translateY(0px); box-shadow: 0px 3px 10px var(--sombra100)}
}


.tecnologias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.flotar {
  border-radius: .5rem;
  animation: flotar 3s ease-in-out infinite;
}
