/* Ajustes base */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fondo);
    color: var(--texto);
    margin: 1rem;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

/* Modo oscuro */
.dark {
    --fondo: #0e0e10;/* Gris oscuro casi negro */
    --fondoVidrio: rgba(30, 30, 30, 0.6);/* efecto vidrio oscuro suave */
    --texto: whitesmoke;
    --sombra: rgba(255, 255, 255, 0.9);
    --sombra0: rgba(255, 255, 255, 0.9);
    --sombra50: rgba(255, 255, 255, 0.7);
    --sombra100: rgba(255, 255, 255, 0.9);
    --activo: #8c31ee;
    transition: all 1s ease;
}

/* Modo claro */
.light {
    --fondo: #f5f7fa;/* Gris muy claro, casi blanco */
    --fondoVidrio: rgba(255, 255, 255, 0.6);/* efecto vidrio blanco suave */
    --texto: black;
    --sombra: rgba(0, 0, 0, 0.9);
    --sombra0: rgba(0, 0, 0, 0.9);
    --sombra50: rgba(0, 0, 0, 0.7);
    --sombra100: rgba(0, 0, 0, 0.9);
    --activo: #7deb95;
    transition: all 1s ease;
}

/* Layout principal */
.padre {
    min-height: 100vh;
    /* Ocupa toda la altura visible */
    display: flex;
    flex-direction: column;
    /* Distribuye en columna */
    justify-content: space-between;
    /* Empuja el footer hacia abajo */
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Contenedor de contenido principal */
.contenedorPrincipal {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: center;
    flex: 1;
    /* Ocupa el espacio restante */
    gap: 1rem;
}

/* Responsive para tablets */
@media (min-width: 601px) and (max-width: 1000px) {
    .contenedorPrincipal {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

/* Responsive para móviles */
@media (max-width: 600px) {
    .contenedorPrincipal {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
}

/* Footer */
.footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--texto);
    background-color: var(--fondoVidrio);
    width: 100%;
}

/* extras */
.zonaContenido {
    padding: 1rem;
}


