body {
    background-color: var(--fondo);
    color: var(--texto);
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.dark {
    --fondo: black;
    --texto: whitesmoke;
    --sombra: rgba(255, 255, 255, 0.9);
    --sombra0: rgba(255, 255, 255, 0.9);
    --sombra50: rgba(255, 255, 255, 0.7);
    --sombra100: rgba(255, 255, 255, 0.9);
    --activo: #8c31ee;
    transition: all 1s ease;
}

.light {
    --fondo: whitesmoke;
    --texto: black;
    --sombra: rgba(0, 0, 0, 0.9);
    --sombra0: rgba(0, 0, 0, 0.9);
    --sombra50: rgba(0, 0, 0, 0.7);
    --sombra100: rgba(0, 0, 0, 0.9);
    --activo: #7deb95;
    transition: all 1s ease;
}




/* Estilos base para pantallas grandes */
.contenedorPrincipal {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
    margin: 1rem;
}

/* para tablets */
@media ((min-width: 601px) and (max-width: 1000px)) {
    .contenedorPrincipal {
        grid-template-columns: 1fr;
        /* Se apila en una columna */
    }
}

/* Para móviles */
@media (max-width: 600px) {
    .contenedorPrincipal {
        grid-template-columns: 1fr;
        /* Se apila en una columna */
    }
}